:root {
  scroll-behavior: smooth;
  --primary-theme-color: #D5E8EF;
  --primary-shadow-color: #ffffff80;
  --reverse-primary-shadow-color: #5b2e0d80;
  --reverse-secondary-shadow-color: #00000040;
  --primary-text-color: #fff;
  --reverse-primary-text-color: #001D3A;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: gold;
  --primary-font-family: 'Inconsolata', monospace;
}